 body{
      background-color:rgb(25,25,25);
      color:white;
      font-family:Arial;
    }
    .title{
      font-size:30px;
      font-weight:bold;
    }
    .move-icon{
      height:50px;
    }
    .move-button{
      background-color:transparent;
      border: 3px solid white;
      padding:35px;
      margin-right:10px;
      border-radius:50%;
      cursor:pointer;
    }
    .result{
      margin-top:40px;
      font-size:25px;
      font-weight:bold;
    }
    .reset-button,
    .auto-play{
      padding:10px 15px 10px 15px;
      font-size:15px;
      background-color:white;
      color:black;
      cursor:pointer;
    }
    
   
    